* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--colorscheme-dark:transparent;
	/*--colorscheme-dark: #003300;*/
	--colorscheme-light:#b3ffb3;
}

.navbar {
	position: fixed;
	top: 0;
	background-color: var(--colorscheme-dark);
}


footer {
	position: fixed;
	bottom: 0;
	background-color: var(--colorscheme-dark);
}

.fab {
	color: black;
}

.quotation {
	font-style: italic;
	text-align: justify;
}

.tagline, {
	display: inline-block;
}



.background-image > img{
	position: fixed;
	z-index: -1;
	top: 0;
	height: 100%;
	width: 100%;
}




/******************/
/*EXTRAWIDE SCREEN*/
/******************/


@media only screen and (min-width: 992px){
/*	.navbar {
		background-color: pink;
	}*/

	.window {
		height: 58px;
	}

	#home-page, #portfolio-page, #projects-page, #contacts-page {
		height: calc(100vh - 48px - 58px);
	}

	#footer, .footer-window {
		height: 48px;
	}
}



/****************/
/*DESKTOP SCREEN*/
/****************/


@media only screen and (min-width: 767px) and (max-width: 991px){
/*	.navbar {
		background-color: red;
	}*/

	.window {
		height: 66px;
	}

	#home-page, #portfolio-page, #projects-page, #contacts-page {
		height: calc(100vh - 48px - 66px);
	}

	#footer, .footer-window {
		height: 48px;
	}
}

/***************/
/*TABLET SCREEN*/
/***************/


@media only screen and (min-width: 401px) and (max-width: 767px) {
/*	.navbar {
		background-color: green;
	}
*/
	.window {
		height: 56px;
	}

	#home-page, #portfolio-page, #projects-page, #contacts-page  {
		height: calc(100vh - 96px - 56px);
	}

	#footer, .footer-window {
		height: 96px;
	}

}

/***************/
/*MOBILE SCREEN*/
/***************/

@media only screen and (max-width: 400px) {
/*	.navbar {
		background-color: blue;
		height: 10vh;
	}*/

	.window {
		height: 56px;
	}

	#home-page, #portfolio-page, #projects-page, #contacts-page {
		height: calc(100vh - 96px - 56px);
	}

	#footer, .footer-window {
		height: 96px;
	}
}

